@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./daisy.css";

.btn {
  text-transform: none !important;
}
.btn-kash{
    background-color: #ffffff;
    border-radius: 20px;
    color: #000;
    transition: all;
    transition-duration: 500ms;
}
.btn-kash:hover{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all;
    transition-duration: 500ms;
}